# Google Gemini API Key
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/embedding-001'

# OpenAI API Key
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# PGVECTOR
PGVECTOR_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PGVECTOR_COLLECTION=gpt5_collection

# Local PDF path
PDF_PATH=./document.pdf